$red: #DE1F26;
$light_grey: #A9A9AD;
$gold: #E7B714;
$dark_grey: #111721;
$light_teal: #21D3B6;
$grey: #3A3A42;
$pale: #EAEAEA;
$off_white: #F5F5F5;
$white: #FFFFFF;
$bg_grey: #1B212D;
$yellow_bid: #FCCF37;
$pale: #EAEAEA;
$border: #57575f;
$viewer_bg: #697172;
$item_bg: #252C39;
$button_bg: #333B4B;