@import 'variables';

@media only screen and (max-width: 1780px) {
	.column-1{
		.live-section{
			&__type-section{
				label{
					font-size: 32px;
				}
				.letters{
					.letter{
						font-size: 47px;
					}
				}
			}
			&_time-left{
				#time-left{
					width: 260px;
				}
			}
		}
		.live-info{
			.wrapper{
				.sub-menu{
					top: 75%;
				}
			}
		}
	}
}


@media only screen and (max-width: 1750px) {
	.column-1{
		.live-info{
			.wrapper{
				.sub-menu{
					top: 60%;
				}
			}
		}
	}
}


@media only screen and (max-width: 1700px) {
	.column-1{
		.live-section{
			&__type-section{
				label{
					font-size: 30px;
				}
				.letters{
					.letter{
						font-size: 42px;
					}
				}
			}
			&_time-left{
				#time-left{
					width: 250px;
				}
			}
		}
		.live-info{
			.wrapper{
				.sub-menu{
					top: 75%;
				}
			}

			&__details{
				.title{
					font-size: 23px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1600px) {
	.column-1{
		.live-section{
			&__type-section{
				label{
					font-size: 28px;
				}
				.letters{
					.letter{
						font-size: 36px;
					}
				}
			}
			&_time-left{
				#time-left{
					width: 230px;
				}
			}
		}
		.live-info{
			&__details{
				.title{
					font-size: 21px;
				}
			}
		}
	}
}




@media only screen and (max-width: 600px) {
	body{
		background: $item_bg;
	}
	.navbar{
		display: none;
	}

	.main-content{
		overflow: hidden;
		width: 100%;
		margin: 0;
		flex-direction: column;
		.column-1{
			width: 100%;
			.live-section{
				.section-bg{
					border-radius: 0;
					width: auto;
					margin-left: -60%;
				}

				&__live-icon, &__stream-info{
					display: none;
				}

				&_time-left{
					bottom: 10px;
					right: 2%;
					#time-left{
						width: 180px;
					}
				}

				&__type-section{
					width: 100%;
					bottom: -85px;
    				left: 0;
					label{
						display: none;
					}
					.letters{
						width: 90%;
						display: flex;
						margin: 0 auto;
						.letter{
							width: calc(90vw / 6);
							padding: 10px 0;
							text-align: center;
							font-size: 28px;
							border: 1px solid $yellow_bid;
							&:not(:last-child){
								margin-right: 0;
							}
						}
						.letter-active{
							color: $white;
							background: black;
						}
					}
				}
			}

			.live-info{
				flex-direction: column;
				border: none;
				&__details, .wrapper{
					width: 100%;
				}
				&__details{
					.title{
						display: none;
					}
					.actions{
						.clap{
							position: absolute;
							top: 120px;
						    left: 35px;
						    width: 30px;
						}
						.clap-count{
							position: absolute;
							top: 152px;
						    left: 38px;
						    width: 30px;
						    font-size: 12px;
						}
						.card{
							position: absolute;
							top: 180px;
						    left: 30px;
						    width: 35px;
						}
						.hide-mobile{
							display: none;
						}
					}
				}
				.wrapper{
					margin-top: 85%;
					.product{
						padding: 10px;
						.item{
							margin-right: 15px;
							.bolt{
								height: 35px;
							}
							.bid{
								font-size: 15px;
							}
						}
						.last-item{
							margin-right: 0;
							.title{
								font-size: 15px;
							}
							.desc{
								font-size: 13px;
							}
						}
					}
					.sub-menu{
						.product-info{
							padding: 50px 20px 10px 20px;
							.title{
								font-size: 13px;
								width: 30%;	
							}
							.desc{
								font-size: 13px;
								width: 70%;
							}
						}
						.quantity{
							margin: 0px 20px;
							.title, .desc{
								font-size: 13px;
								.title-2{
									font-size: 13px;
								}
							}
						}
						.price{
							padding: 20px 20px 40px 20px;
							.title{
								font-size: 18px;
								color: $light_grey;
							}
							.top-up{
								margin-top: 0;
								input, button{
								    width: 120px;
								    height: 40px;
								    font-size: 20px;
								}
								button{
									font-size: 18px;
								}
							}
							.wallet{
								font-size: 13px;
							}
						}
					}
				}
			}

			.seller-info{
				border: none;
				margin-bottom: 0;
				height: 0;
				.seller-container{
					padding: 0;
					.profile{
						position: absolute;
						top: 20px;
						left: 20px;
						width: 60px;
					}
					.info-container{
						.title{
							.name{
								position: absolute;
								top: 30px;
								left: 100px;
								font-size: 15px;
							}
							button{
								display: none;
							}
							.follow-mobile{
								display: block;
								position: absolute;
									top: 80px;
								    left: 35px;
								    width: 30px;
							}
						}
						.desc{
							display: none;
						}
					}
				}
			}
			.custom-line{
				display: none;
			}
		}
		.column-2{
			margin-left: 0;
			width: 100%;
			.live-chat{
				display: none;
			}
			.profile{
				padding: 5px 10px;
				&__info{
					img{
						height: 50px;
					}
				}
				&__token{
					img{
						height: 40px;
						margin-left: 5px;
					}
				}
			}
			.bid{
				width: 90%;
			    display: block;
			    margin: -115% auto 0 auto;
				.bid-list{
    				font-size: 14px;
					.bidders{
						max-height: 100px;
						.bidder{
							div{
								label:first-child{
									margin-right: 40px;
								}
							}
						}
					}
				}
			}
			.shown-drop{
				margin: -115% auto 130% auto !important;
			}
		}
	}
}

@media only screen and (max-width: 415px) {
	.main-content{
		.column-1{
			.live-section{
				&_time-left{
					#time-left{
    					width: 150px;
					}
				}
			}
			.live-info{
				padding-bottom: 0;
				.wrapper{
					margin-top: 80%;
					.product{
						.arrow-up{
							z-index: 7;
						}
					}
					.sub-menu{
						.price{
							padding: 20px;
						}
					}
				}
			}
		}
		.column-2{
			.bid{
				margin: -90% auto 0 auto !important;
				.header{
					padding: 10px 30px;
					img{
						height: 30px;
					}
					label{
						font-size: 14px;
					}
				}
				.profile{
					font-size: 15px;
				}
				.bid-list{
					.bidders{
						font-size: 15px;
					}
				}
			}
			.shown-drop{
				margin: -90% auto 80% auto !important;
			}
		}
	}

}


@media only screen and (max-width: 375px) {
	.main-content{
		.column-1{
			.live-info{
				.wrapper{
					margin-top: 85%;
				}
			}
		}
		.column-2{
			.bid{
				margin: -100% auto 0 auto !important;
			}
			.shown-drop{
				margin: -100% auto 90% auto !important;
			}
		}
	}
}

@media only screen and (max-width: 360px) {
	.main-content{
		.column-1{
			.live-section{
				&_time-left{
					#time-left{
						width: 140px;
					}
				}
			}
			.live-info{
				padding-bottom: 0;
				.wrapper{
					margin-top: 95%;
					.product{
						.item{
							.bid{
								font-size: 14px;
								.bid-list{
									.bidders{
										font-size: 14px;
									}
								}
							}
						}
					}
				}
			}
		}
		.column-2{
			.bid{
				margin: -105% auto 0 auto !important;
				.arrow-down{
					width: 20px;
				}
			}
			.shown-drop{
				margin: -105% auto 92% auto !important
			}
		}
	}
}


@media only screen and (max-width: 320px) {
	.main-content{
		.column-1{
			.live-section{
				&_time-left{
					#time-left{
						width: 120px;
					}
				}
			}
			.live-info{
				.wrapper{
					margin-top: 95%;
					.product{
						.item{
							.bolt{
								height: 30px;
							}
							.bid{
								font-size: 12px;
							}
						}
						.last-item{
							.title, .desc{
								font-size: 12px;
							}
						}
					}
				}
			}
		}
		.column-2{
			.bid{
				width: 95%;
				margin: -110% auto 0 auto !important;
				.arrow-down{
					width: 18px;
				}
				.profile{
					font-size: 13px;
					padding: 5px 10px;
					&__info{
						img{
							height: 50px;
						}
					}
					&__token{
						img{
							height: 40px;
    						margin-left: 5px;
						}
					}
				}
				.bid-list{
					.bidders{
						font-size: 13px;
					}
				}
			}
			.shown-drop{
				margin: -110% auto 105% auto !important;
			}
		}
	}
}


