@import 'variables';

@mixin ul-default {
	margin: 0;
	padding: 0;
	display: flex;
	align-content: center;
}

@mixin li-default{
	list-style: none;
	display: flex;
    flex-direction: row;
    align-items: center;
}

.hover{
	&:hover{
		cursor: pointer;
	}
}

body{
	margin: 0;
	padding: 0;
	background: $bg_grey;
	font-family: 'Montserrat', sans-serif;
}

.navbar{
	display: flex;
	justify-content: space-between;
	background: $dark_grey;
	padding: 10px 5%;

	.first-section{
		display: flex;
		align-items: center;
		width: 30%;

		.navbar-brand{
			margin-right: 40px;
		}
		ul{
			@include ul-default;
			li{
				@include li-default;
				a{
					color: #57586F;
					text-decoration: none;
					font-size: 16px;

					&:hover{
						cursor: pointer;
					}
				}

				&:hover{
					cursor: context-menu;
				}

				&:first-child{
					a{
						color: white;
						font-family: 'Montserrat', sans-serif;
					}
				}

				&:not(:last-child){
					margin-right: 12px;
				}
			}
		}
	}

	.second-section{
		display: flex;
    	justify-content: center;
		width: 30%;
		ul{
			@include ul-default;
			li{
				@include li-default;
			    &:not(:last-child){
					margin-right: 25px;
				}
			}
		}
	}

	.third-section{
		display: flex;
    	justify-content: flex-end;
		align-items: center;
		width: 30%;
		ul{
			@include ul-default;
			li{
				@include li-default;
				&:not(:last-child){
					margin-right: 15px;
				}

				.profile{
					margin-top: 5px;
				}
			}
		}
	}
}

.main-content{
	width: 88%;
	display: flex;
	margin: 30px auto;
}

.column-1{
	width: 67%;
	.live-section{
		position: relative;
		height: auto;
		.section-bg{
			border-radius: 25px;
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
		}

		&__live-icon{
			position: absolute;
			top: 20px;
	    	left: 2%;
			display: flex;
			z-index: 2;
			font-size: 15px;
			font-weight: 500;
			.status{
				padding: 5px 10px;
				border-radius: 10px;
				background: $red;
				color: white;
				
			}
			.viewer{
				margin-left: 10px;
				display: flex;
				padding: 5px 10px;
				border-radius: 10px;
				background: $viewer_bg;
				color: white;
				span{
					margin-left: 5px;
				}
			}
		}

		&__stream-info{
			position: absolute;
			top: 20px;
	    	right: 2%;
			display: flex;
			z-index: 2;
			font-size: 18px;
			color: white;
			font-weight: 600;
			label{
				display: flex;
				align-content: center;
				align-items: center;
				span{
					margin-right: 5px;
				}
				img{
					margin-top: 3px;
				}
				&:hover{
					cursor: pointer;
				}
			}
		}

		&__type-section{
			position: absolute;
			bottom: 50px;
	    	left: 5%;
			z-index: 2;
			label{
				color: white;
				font-size: 35px;
				font-weight: 600;

			}
			.letters{
				display: flex;
				margin-top: 10px;
				.letter{
					background: black;
					padding: 10px 20px;
					font-size: 55px;
					font-weight: 900;
					color: white;

					&:not(:last-child){
						margin-right: 4px;
					}
				}
				.letter-active{
					background: $yellow_bid;
					color: black;
				}
			}
		}

		&_time-left{
			position: absolute;
			bottom: 50px;
	    	right: 5%;
			z-index: 2;
		}
	}


	.live-info{
		display: flex;
		color: $white;
		padding: 20px 0;
		border-bottom: 1px solid $border;


		&__details{
			width: 45%;
			padding: 10px 50px 0 10px;

			.title{
				font-size: 25px;
			}

			.actions{
				display: flex;
				align-items: center;
				margin-top: 15px;
				.card{
					width: 50px;
				}
				label{
					display: flex;
					align-items: center;
					font-size: 15px;
					img{
						margin-right: 10px;
					}

					&:not(:last-child){
						margin-right: 25px;
					}

					&:hover{
						cursor: pointer;
					}
				}
			}
		}

		&__product{
			position: relative;
			overflow: hidden;
	    	margin-top: 10px;
			width: 55%;
			display: flex;
			align-items: center;
			padding: 10px 30px;
			border-radius: 15px;
			background: $item_bg;	
			box-shadow: 0px 0px 14px 1px rgba(252,207,55,0.75);
			-webkit-box-shadow: 0px 0px 14px 1px rgba(252,207,55,0.75);
			-moz-box-shadow: 0px 0px 14px 1px rgba(252,207,55,0.75);

			.bolt-bg{
				position: absolute;
				height: 100%;
				top: 0;
				opacity: 0.25;
				right: 0;
				z-index: 1;
			}
			.arrow-up{
				position: absolute;
			    top: 12px;
			    right: 10px;
			    z-index: 2;
			    width: 20px;
			    &:hover{
			    	cursor: pointer;
			    }
			}
			.item{
				display: flex;
				flex-direction: column;
				margin-right: 20px;
				position: relative;
				z-index: 2;
				label{
					display: flex;
					flex-direction: column;				
				}
				.bolt{
					height: 50px;
					margin-bottom: 10px;
				}
				.bid{
					font-weight: 600; 
				}
				.watch{
					width: 100%;
				}

				&:not(:last-child){
					margin-right: 30px;
				}
			}
			.product-img{
				width: 20%;
			}
			.last-item{
				width: 50%;
				.title{
					font-weight: 600;
					font-size: 18px;
					margin-bottom: 10px;
				}
				.desc{
					font-weight: 400;
					font-size: 15px;
				}
			}
		}
	}

	.custom-line{
		width: 25%;
	    margin-top: -5px;
	    height: 2px;
	    background: white;
	    margin-left: 0;
	}

	.seller-info{
		border-bottom: 1px solid $border;
		.seller-container{
			display: flex;
			color: white;
			max-width: 60%;
			padding: 30px 0;
			align-items: start;

			.profile{
				width: 70px;
			}
			.info-container{
				display: flex;
				flex-direction: column;
				align-content: flex-start;
				padding: 15px 30px;
				.title{
					display: flex;
					margin-bottom: 30px;
					.name{
						font-size: 18px;
						font-weight: 600;
						display: flex;
						flex-direction: column;
					}
					button{
						margin-left: 60px;
						height: 35px;
						padding: 0 15px;
						outline: none;
						border: none;
						background: $button_bg;
						color: white;
						display: flex;
						align-items: center;
						border-radius: 10px;
						font-size: 16px;
						font-family: 'Montserrat', sans-serif;
						box-shadow: $box-shadow;
						img{
							width: 25px;
							margin-right: 5px;
						}

						&:hover{
							cursor: pointer;
						}
					}
				}
				.desc{
					font-size: 15px;
					label{
						display: block;
						margin-bottom: 30px;
					}
					a{
						text-decoration: none;
						font-weight: 600;
						font-size: 18px;
						color: $light_grey;

					}
				}
			}
		}
	}
}

.column-2{
	margin-left: 3%;
	width: 30%;

	.live-chat{
		border-radius: 16px;
		background: $item_bg;
		filter: $drop-shadow;
		padding: 20px 25px;
		overflow: hidden;
		position: relative;
		.arrow-down{
			position: absolute;
			top: 20px;
			right: 20px;
			width: 30px;
		}

		.header{
			color: $light_text;
			font-size: 22px;
			padding-bottom: 15px;
		}
		.title{
			width: 120%;
			margin-left: -25px;
			margin-right: -25px;
			background: rgba(17, 23, 33, 0.5);
			padding: 10px 0 15px 0;
			label{
				margin-left: 25px;
				margin-right: 25px;
				display: flex;
				font-size: 18px;
				color: $light_text;
				align-items: center;
			}
			img{
				width: 30px;
				margin-right: 10px;
			}

		}

		.chat{
			width: 100%;
			display: flex;
			margin-top: 20px;

			input{
				background: $dark_grey;
				color: $light_grey;
				border: none;
				outline: none;
				border-radius: 8px;
				padding: 0 30px;
				font-size: 18px;
				width: 85%;
				height: 50px;
				margin-right: 5%;
			}
			button{
				background: $menu_grey;
				border: none;
				outline: none;
				height: 50px;
				width: 50px;
				border-radius: 8px;
				img{
					width: 80%;

				}
				&:hover{
					cursor: pointer;
				}
			}
		}
	}
}







