.hover:hover {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  background: #1B212D;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #111721;
  padding: 10px 5%;
}
.navbar .first-section {
  display: flex;
  align-items: center;
  width: 30%;
}
.navbar .first-section .navbar-brand {
  margin-right: 40px;
}
.navbar .first-section ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
}
.navbar .first-section ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .first-section ul li a {
  color: #57586F;
  text-decoration: none;
  font-size: 16px;
}
.navbar .first-section ul li a:hover {
  cursor: pointer;
}
.navbar .first-section ul li:hover {
  cursor: context-menu;
}
.navbar .first-section ul li:first-child a {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.navbar .first-section ul li:not(:last-child) {
  margin-right: 12px;
}
.navbar .second-section {
  display: flex;
  justify-content: center;
  width: 30%;
}
.navbar .second-section ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
}
.navbar .second-section ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .second-section ul li:not(:last-child) {
  margin-right: 25px;
}
.navbar .third-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}
.navbar .third-section ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
}
.navbar .third-section ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .third-section ul li:not(:last-child) {
  margin-right: 15px;
}
.navbar .third-section ul li .profile {
  margin-top: 5px;
}

.main-content {
  width: 88%;
  display: block;
  margin: 30px auto;
}

.column-1 {
  width: 67%;
}

.live-section {
  position: relative;
  height: auto;
}
.live-section .section-bg {
  border-radius: 25px;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.live-section__live-icon {
  position: absolute;
  top: 20px;
  left: 2%;
  display: flex;
  z-index: 2;
  font-size: 15px;
  font-weight: 500;
}
.live-section__live-icon .status {
  padding: 5px 10px;
  border-radius: 10px;
  background: #DE1F26;
  color: white;
}
.live-section__live-icon .viewer {
  margin-left: 10px;
  display: flex;
  padding: 5px 10px;
  border-radius: 10px;
  background: #697172;
  color: white;
}
.live-section__live-icon .viewer span {
  margin-left: 5px;
}
.live-section__stream-info {
  position: absolute;
  top: 20px;
  right: 2%;
  display: flex;
  z-index: 2;
  font-size: 18px;
  color: white;
  font-weight: 600;
}
.live-section__stream-info label {
  display: flex;
  align-content: center;
  align-items: center;
}
.live-section__stream-info label span {
  margin-right: 5px;
}
.live-section__stream-info label img {
  margin-top: 3px;
}
.live-section__stream-info label:hover {
  cursor: pointer;
}
.live-section__type-section {
  position: absolute;
  bottom: 50px;
  left: 5%;
  z-index: 2;
}
.live-section__type-section label {
  color: white;
  font-size: 35px;
  font-weight: 600;
}
.live-section__type-section .letters {
  display: flex;
  margin-top: 10px;
}
.live-section__type-section .letters .letter {
  background: black;
  padding: 10px 20px;
  font-size: 55px;
  font-weight: 900;
  color: white;
}
.live-section__type-section .letters .letter:not(:last-child) {
  margin-right: 4px;
}
.live-section__type-section .letters .letter-active {
  background: #FCCF37;
  color: black;
}
.live-section_time-left {
  position: absolute;
  bottom: 50px;
  right: 5%;
  z-index: 2;
}

.live-info {
  display: flex;
  color: #FFFFFF;
  padding: 20px 0;
  border-bottom: 1px solid #57575f;
}
.live-info__details {
  width: 45%;
  padding: 10px 50px 15px 10px;
}
.live-info__details .title {
  font-size: 25px;
}
.live-info__details .actions {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.live-info__details .actions label {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.live-info__details .actions label img {
  margin-right: 10px;
}
.live-info__details .actions label:not(:last-child) {
  margin-right: 25px;
}
.live-info__details .actions label:hover {
  cursor: pointer;
}
.live-info__product {
  width: 55%;
}

/*# sourceMappingURL=style.css.map */
