@import 'variables';

@mixin ul-default {
	margin: 0;
	padding: 0;
	display: flex;
	align-content: center;
}

@mixin li-default{
	list-style: none;
	display: flex;
    flex-direction: row;
    align-items: center;
}

.hover{
	&:hover{
		cursor: pointer;
	}
}

body{
	margin: 0;
	padding: 0;
	background: $bg_grey;
	font-family: 'Montserrat', sans-serif;
}

.navbar{
	display: flex;
	justify-content: space-between;
	background: $dark_grey;
	padding: 10px 5%;

	.first-section{
		display: flex;
		align-items: center;
		width: 30%;

		.navbar-brand{
			margin-right: 40px;
		}
		ul{
			@include ul-default;
			li{
				@include li-default;
				a{
					color: #57586F;
					text-decoration: none;
					font-size: 16px;

					&:hover{
						cursor: pointer;
					}
				}

				&:hover{
					cursor: context-menu;
				}

				&:first-child{
					a{
						color: white;
						font-family: 'Montserrat', sans-serif;
					}
				}

				&:not(:last-child){
					margin-right: 12px;
				}
			}
		}
	}

	.second-section{
		display: flex;
    	justify-content: center;
		width: 30%;
		ul{
			@include ul-default;
			li{
				@include li-default;
			    &:not(:last-child){
					margin-right: 25px;
				}
			}
		}
	}

	.third-section{
		display: flex;
    	justify-content: flex-end;
		align-items: center;
		width: 30%;
		ul{
			@include ul-default;
			li{
				@include li-default;
				&:not(:last-child){
					margin-right: 15px;
				}

				.profile{
					margin-top: 5px;
				}
			}
		}
	}
}

.main-content{
	width: 88%;
	display: block;
	margin: 30px auto;
}

.column-1{
	width: 67%;
}

.live-section{
	position: relative;
	height: auto;
	.section-bg{
		border-radius: 25px;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
	}

	&__live-icon{
		position: absolute;
		top: 20px;
    	left: 2%;
		display: flex;
		z-index: 2;
		font-size: 15px;
		font-weight: 500;
		.status{
			padding: 5px 10px;
			border-radius: 10px;
			background: $red;
			color: white;
			
		}
		.viewer{
			margin-left: 10px;
			display: flex;
			padding: 5px 10px;
			border-radius: 10px;
			background: $viewer_bg;
			color: white;
			span{
				margin-left: 5px;
			}
		}
	}

	&__stream-info{
		position: absolute;
		top: 20px;
    	right: 2%;
		display: flex;
		z-index: 2;
		font-size: 18px;
		color: white;
		font-weight: 600;
		label{
			display: flex;
			align-content: center;
			align-items: center;
			span{
				margin-right: 5px;
			}
			img{
				margin-top: 3px;
			}
			&:hover{
				cursor: pointer;
			}
		}
	}

	&__type-section{
		position: absolute;
		bottom: 50px;
    	left: 5%;
		z-index: 2;
		label{
			color: white;
			font-size: 35px;
			font-weight: 600;

		}
		.letters{
			display: flex;
			margin-top: 10px;
			.letter{
				background: black;
				padding: 10px 20px;
				font-size: 55px;
				font-weight: 900;
				color: white;

				&:not(:last-child){
					margin-right: 4px;
				}
			}
			.letter-active{
				background: $yellow_bid;
				color: black;
			}
		}
	}

	&_time-left{
		position: absolute;
		bottom: 50px;
    	right: 5%;
		z-index: 2;
	}
}


.live-info{
	display: flex;
	color: $white;
	padding: 20px 0;
	border-bottom: 1px solid $border;

	&__details{
		width: 45%;
		padding: 10px 50px 15px 10px;

		.title{
			font-size: 25px;
		}

		.actions{
			display: flex;
			align-items: center;
			margin-top: 15px;
			label{
				display: flex;
				align-items: center;
				font-size: 15px;
				img{
					margin-right: 10px;
				}

				&:not(:last-child){
					margin-right: 25px;
				}

				&:hover{
					cursor: pointer;
				}
			}
		}
	}

	&__product{
		width: 55%;
	}
}





