.hover:hover {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  background: #1B212D;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background: #111721;
  padding: 10px 5%;
}
.navbar .first-section {
  display: flex;
  align-items: center;
  width: 30%;
}
.navbar .first-section .navbar-brand {
  margin-right: 40px;
}
.navbar .first-section ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
}
.navbar .first-section ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .first-section ul li a {
  color: #57586F;
  text-decoration: none;
  font-size: 16px;
}
.navbar .first-section ul li a:hover {
  cursor: pointer;
}
.navbar .first-section ul li:hover {
  cursor: context-menu;
}
.navbar .first-section ul li:first-child a {
  color: white;
  font-family: "Montserrat", sans-serif;
}
.navbar .first-section ul li:not(:last-child) {
  margin-right: 12px;
}
.navbar .second-section {
  display: flex;
  justify-content: center;
  width: 30%;
}
.navbar .second-section ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
}
.navbar .second-section ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .second-section ul li:not(:last-child) {
  margin-right: 25px;
}
.navbar .third-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}
.navbar .third-section ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
}
.navbar .third-section ul li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .third-section ul li:not(:last-child) {
  margin-right: 15px;
}
.navbar .third-section ul li .profile {
  margin-top: 5px;
}

.main-content {
  width: 88%;
  display: flex;
  margin: 30px auto;
}

.column-1 {
  width: 67%;
}
.column-1 .live-section {
  position: relative;
  height: auto;
}
.column-1 .live-section .section-bg {
  border-radius: 25px;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.column-1 .live-section__live-icon {
  position: absolute;
  top: 20px;
  left: 2%;
  display: flex;
  z-index: 2;
  font-size: 15px;
  font-weight: 500;
}
.column-1 .live-section__live-icon .status {
  padding: 5px 10px;
  border-radius: 10px;
  background: #DE1F26;
  color: white;
}
.column-1 .live-section__live-icon .viewer {
  margin-left: 10px;
  display: flex;
  padding: 5px 10px;
  border-radius: 10px;
  background: #697172;
  color: white;
}
.column-1 .live-section__live-icon .viewer span {
  margin-left: 5px;
}
.column-1 .live-section__stream-info {
  position: absolute;
  top: 20px;
  right: 2%;
  display: flex;
  z-index: 2;
  font-size: 18px;
  color: white;
  font-weight: 600;
}
.column-1 .live-section__stream-info label {
  display: flex;
  align-content: center;
  align-items: center;
}
.column-1 .live-section__stream-info label span {
  margin-right: 5px;
}
.column-1 .live-section__stream-info label img {
  margin-top: 3px;
}
.column-1 .live-section__stream-info label:hover {
  cursor: pointer;
}
.column-1 .live-section__type-section {
  position: absolute;
  bottom: 50px;
  left: 5%;
  z-index: 2;
}
.column-1 .live-section__type-section label {
  color: white;
  font-size: 35px;
  font-weight: 600;
}
.column-1 .live-section__type-section .letters {
  display: flex;
  margin-top: 10px;
}
.column-1 .live-section__type-section .letters .letter {
  background: black;
  padding: 10px 20px;
  font-size: 55px;
  font-weight: 900;
  color: white;
}
.column-1 .live-section__type-section .letters .letter:not(:last-child) {
  margin-right: 4px;
}
.column-1 .live-section__type-section .letters .letter-active {
  background: #FCCF37;
  color: black;
}
.column-1 .live-section_time-left {
  position: absolute;
  bottom: 50px;
  right: 5%;
  z-index: 2;
}
.column-1 .live-info {
  display: flex;
  color: #FFFFFF;
  padding: 20px 0;
  border-bottom: 1px solid #57575f;
}
.column-1 .live-info__details {
  width: 45%;
  padding: 10px 50px 0 10px;
}
.column-1 .live-info__details .title {
  font-size: 25px;
}
.column-1 .live-info__details .actions {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.column-1 .live-info__details .actions .card {
  width: 50px;
}
.column-1 .live-info__details .actions label {
  display: flex;
  align-items: center;
  font-size: 15px;
}
.column-1 .live-info__details .actions label img {
  margin-right: 10px;
}
.column-1 .live-info__details .actions label:not(:last-child) {
  margin-right: 25px;
}
.column-1 .live-info__details .actions label:hover {
  cursor: pointer;
}
.column-1 .live-info__product {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  width: 55%;
  display: flex;
  align-items: center;
  padding: 10px 30px;
  border-radius: 15px;
  background: #252C39;
  box-shadow: 0px 0px 14px 1px rgba(252, 207, 55, 0.75);
  -webkit-box-shadow: 0px 0px 14px 1px rgba(252, 207, 55, 0.75);
  -moz-box-shadow: 0px 0px 14px 1px rgba(252, 207, 55, 0.75);
}
.column-1 .live-info__product .bolt-bg {
  position: absolute;
  height: 100%;
  top: 0;
  opacity: 0.25;
  right: 0;
  z-index: 1;
}
.column-1 .live-info__product .arrow-up {
  position: absolute;
  top: 12px;
  right: 10px;
  z-index: 2;
  width: 20px;
}
.column-1 .live-info__product .arrow-up:hover {
  cursor: pointer;
}
.column-1 .live-info__product .item {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  position: relative;
  z-index: 2;
}
.column-1 .live-info__product .item label {
  display: flex;
  flex-direction: column;
}
.column-1 .live-info__product .item .bolt {
  height: 50px;
  margin-bottom: 10px;
}
.column-1 .live-info__product .item .bid {
  font-weight: 600;
}
.column-1 .live-info__product .item .watch {
  width: 100%;
}
.column-1 .live-info__product .item:not(:last-child) {
  margin-right: 30px;
}
.column-1 .live-info__product .product-img {
  width: 20%;
}
.column-1 .live-info__product .last-item {
  width: 50%;
}
.column-1 .live-info__product .last-item .title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
.column-1 .live-info__product .last-item .desc {
  font-weight: 400;
  font-size: 15px;
}
.column-1 .custom-line {
  width: 25%;
  margin-top: -5px;
  height: 2px;
  background: white;
  margin-left: 0;
}
.column-1 .seller-info {
  border-bottom: 1px solid #57575f;
}
.column-1 .seller-info .seller-container {
  display: flex;
  color: white;
  max-width: 60%;
  padding: 30px 0;
  align-items: start;
}
.column-1 .seller-info .seller-container .profile {
  width: 70px;
}
.column-1 .seller-info .seller-container .info-container {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 15px 30px;
}
.column-1 .seller-info .seller-container .info-container .title {
  display: flex;
  margin-bottom: 30px;
}
.column-1 .seller-info .seller-container .info-container .title .name {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
.column-1 .seller-info .seller-container .info-container .title button {
  margin-left: 60px;
  height: 35px;
  padding: 0 15px;
  outline: none;
  border: none;
  background: #333B4B;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.37);
}
.column-1 .seller-info .seller-container .info-container .title button img {
  width: 25px;
  margin-right: 5px;
}
.column-1 .seller-info .seller-container .info-container .title button:hover {
  cursor: pointer;
}
.column-1 .seller-info .seller-container .info-container .desc {
  font-size: 15px;
}
.column-1 .seller-info .seller-container .info-container .desc label {
  display: block;
  margin-bottom: 30px;
}
.column-1 .seller-info .seller-container .info-container .desc a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #A9A9AD;
}

.column-2 {
  margin-left: 3%;
  width: 30%;
}
.column-2 .live-chat {
  border-radius: 16px;
  background: #252C39;
  filter: drop-shadow(0px 12px 15px rgba(17, 23, 33, 0.7));
  padding: 20px 25px;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.column-2 .live-chat .arrow-down {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
}
.column-2 .live-chat .arrow-down:hover {
  cursor: pointer;
}
.column-2 .live-chat .header {
  color: #57586F;
  font-size: 22px;
  padding-bottom: 15px;
}
.column-2 .live-chat .title {
  width: 120%;
  margin-left: -25px;
  margin-right: -25px;
  background: rgba(17, 23, 33, 0.5);
  padding: 10px 0 15px 0;
}
.column-2 .live-chat .title label {
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  font-size: 18px;
  color: #57586F;
  align-items: center;
}
.column-2 .live-chat .title img {
  width: 30px;
  margin-right: 10px;
}
.column-2 .live-chat .chat {
  width: 100%;
  display: flex;
  margin-top: 20px;
}
.column-2 .live-chat .chat input {
  background: #111721;
  color: #A9A9AD;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 0 30px;
  font-size: 18px;
  width: 85%;
  height: 50px;
  margin-right: 5%;
}
.column-2 .live-chat .chat button {
  background: #2D3545;
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  border-radius: 8px;
}
.column-2 .live-chat .chat button img {
  width: 80%;
}
.column-2 .live-chat .chat button:hover {
  cursor: pointer;
}
.column-2 .bid {
  border-radius: 16px;
  background: #252C39;
  filter: drop-shadow(0px 12px 15px rgba(17, 23, 33, 0.7));
  position: relative;
}
.column-2 .bid .arrow-down {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
}
.column-2 .bid .arrow-down:hover {
  cursor: pointer;
}
.column-2 .bid .header {
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 40px;
}
.column-2 .bid .header img {
  margin-right: 30px;
  height: 40px;
}
.column-2 .bid .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #21D3B6;
  font-weight: 600;
  background: #1B212D;
  padding: 5px 20px;
}
.column-2 .bid .profile__info {
  display: flex;
  align-items: center;
}
.column-2 .bid .profile__info img {
  height: 60px;
  margin-top: 10px;
  margin-right: 15px;
}
.column-2 .bid .profile__token {
  display: flex;
  align-items: center;
}
.column-2 .bid .profile__token img {
  height: 50px;
  margin-left: 15px;
}
.column-2 .bid .bid-list {
  padding: 20px;
  font-weight: 600;
  font-size: 16px;
}
.column-2 .bid .bid-list .bidders {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 400px;
}
.column-2 .bid .bid-list .bidders .bid-top {
  color: #FCCF37;
}
.column-2 .bid .bid-list .bidders .bid-self {
  color: #21D3B6;
}
.column-2 .bid .bid-list .bidders .bidder {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}
.column-2 .bid .bid-list .bidders .bidder div {
  display: flex;
}
.column-2 .bid .bid-list .bidders .bidder div label:first-child {
  margin-right: 60px;
}
.column-2 .bid .bid-list .bidders .bidder label {
  margin-right: 30px;
}

/*# sourceMappingURL=style.css.map */
